<div
    class=""
    style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-image: url(/img/bg-img/4.png);"
>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    
        <div class="signin-card text-center" style="max-width: 95%; width:380px; min-height: 500px;">
            <div>
                <h3 style="color: white;font-weight:bold">Change password </h3>
                <div style="margin-top: 32px;">
                    <a href="/"><img src="/img/core-img/logo.png"/></a>
                    
                </div>
            </div>

            <form id="sign-in-form" class="needs-validation"  method="POST" action="/account/change-password" novalidate>
                <div class="mt-3">
                    <input type="password" class="form-control" id="old-password" name="old-password" placeholder="Current password" required>
                    <div class="invalid-feedback">
                            Current password must not be empty.
                    </div>
                </div>

                <div class="mt-3">
                    <input type="password" class="form-control" id="new-password" name="new-password" placeholder="New password" required>
                    <div class="invalid-feedback">
                            New password must not be empty.
                    </div>
                </div>
                <div class="mt-3">
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm password" required>
                    <div class="invalid-feedback">
                            Confirm password must not be empty.
                    </div>
                </div>
                {{#if error}}
                <div class="mt-3">
                    <p>{{error}}</p>
                </div>
                {{/if}}
                <button class="btn mt-3" >Change</button>
                <div class="clearfix">
                    <a class="float-right text-info" href="/account/forgot-password">Forgot password ?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/formValidation.js"></script>
        
