<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
        <div class="bradcumbContent">
            <h2>Search Order</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
        <!-- ##### Service Intro Area Start ##### -->
    <section class="services-intro">
        <div class="container">
            
            <div class="row align-items-center">
                <!-- Service Intro Text -->
                <div class="col-12 col-lg-12">
                    <div class="service-intro-text">
                        <div class="section-heading text-center">
                            {{!-- <div class="line-"></div> --}}
                            <h2>Find your order</h2>
                        </div>
                        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p> --}}
                        {{!-- <a href="#" class="btn custom-palatin-btn mt-50">Read More</a> --}}
                    </div>
                </div>

                <!-- Services Features -->
               
                {{!-- <div class="col-12 col-lg-6">
                    <div class="row mb-100">

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-cocktail-1"></i>
                                    <p>Pool Beachbar</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-swimming-pool"></i>
                                    <p>Infinity Pool</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-beach"></i>
                                    <p>Sunbeds</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> --}}
            </div>
            {{!-- INPUT INFORMATION --}}
            <div class="row align-items-center">
                <div class="col-12 col-lg-5 mx-auto">
                     <div class="form-group row text-center">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Your Phone Number: </label>
                        <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="phoneNumber" placeholder="Your phone number">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 mx-auto">
                    <div class="form-group row text-center">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Your ID: </label>
                        <div class="col-sm-6">
                        <input type="text" class="form-control-plaintext" id="identity" placeholder="Your ID">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 mx-auto">
                    <a href="#" class="btn custom-palatin-btn">Find</a>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ##### Service Intro Area End ##### -->
    <section class="core-features-area">
        <div class="container " style="min-height: 500px; ">
            <div class="row service-item card" >
                 <div class="col-12 col-md-3">
                    <img src="/img/bg-img/2.jpg"/>
                </div>
                <div class="col-md-6 col-12 text-container">
                    <h2>Deluxe Room</h2>
                    <p>Price: 150$</p>
                    <p>Beds: 2</p>
                    <p>People: 2</p>
                </div>
            
                <div class="col-md-3 col-12 price-container d-flex">
                    <p class="price-text">x <span>2</span></p>
                    <a href="#" class="book-room-btn btn custom-palatin-btn price-btn ">Details</a>
                </div>
            </div>
           <div class="row service-item card" >
                 <div class="col-12 col-md-3">
                    <img src="/img/bg-img/2.jpg"/>
                </div>
                <div class="col-md-6 col-12 text-container">
                    <h2>Deluxe Room</h2>
                    <p>Price: 150$</p>
                    <p>Beds: 2</p>
                    <p>People: 2</p>
                </div>
            
                <div class="col-md-3 col-12 price-container d-flex">
                    <p class="price-text">x <span>2</span></p>
                    <a href="#" class="book-room-btn btn custom-palatin-btn price-btn ">Details</a>
                </div>
            </div>
            <div class="row service-item card" >
                 <div class="col-12 col-md-3">
                    <img src="/img/bg-img/2.jpg"/>
                </div>
                <div class="col-md-6 col-12 text-container">
                    <h2>Deluxe Room</h2>
                    <p>Price: 150$</p>
                    <p>Beds: 2</p>
                    <p>People: 2</p>
                </div>
            
                <div class="col-md-3 col-12 price-container d-flex">
                    <p class="price-text">x <span>2</span></p>
                    <a href="#" class="book-room-btn btn custom-palatin-btn price-btn ">Details</a>
                </div>
            </div>
        </div>
    </section>