<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
        <div class="bradcumbContent">
            {{!-- <h2>Search Order</h2> --}}
        </div>
    </section>
    <section class="rooms-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        {{!-- <h2>Choose a room</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p> --}}
                    </div>
                </div>
            </div>
            <div class="row service-item card">
                <div class="col-md-3 col-12">
                    <img src="/img/food-img/fried-rice.jpg"/>
                </div>
                <div class="col-md-6 col-12">
                    <h2>Berverage and foods </h2>
                    <p class="price-text">10$</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore atque voluptas cum earum! Quos quas, laudantium optio at ab explicabo libero, quo tenetur temporibus exercitationem omnis id, veritatis assumenda.</p>
                </div>
            
                <div class="col-md-3 col-12">
                    <p>helo</p>
                </div>
                
            </div>
        </div>
    </section>