@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

.custom-palatin-btn {
    background-color: $pri-color;
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 128px;
    color: $white-color;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    text-transform: capitalize;
    &:hover,
    &:focus {
        font-size: 16px;
        background-color: $heading-color;
        color: $white-color;
    }
    &.btn-2 {
        background-color: $heading-color;
        color: $white-color;
        &:hover,
        &:focus {
            font-size: 16px;
            background-color: $pri-color;
            color: $white-color;
        }
    }
    &.btn-3 {
        background-color: $white-color;
        color: $pri-color;
        border: 2px solid $pri-color;
        height: 49px;
        line-height: 48px;
        &:hover,
        &:focus {
            font-size: 16px;
            background-color: $pri-color;
            color: $white-color;
        }
    }
}


.btn-close {
    font-size: 24px;
    border: none;
    background-color: transparent;
}


.booking-table td {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: $pri-color;
    
}

.booking-table td.disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
  }


.menu-btn {


    .dropdown-item {
        color: $dark-color !important;
    }

    .dropdown.active{
        
        i {
            color: $pri-color;
        }
        .dropdown-toggle::after{
            color: $pri-color;
        }
    }

    .dropdown-item.active {
        color: $pri-color !important;
        background-color: #fff !important;
    }
}