@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

.custom-palatin-btn {
    background-color: $pri-color;
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 128px;
    color: $white-color;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    text-transform: capitalize;
    &:hover,
    &:focus {
        font-size: 16px;
        background-color: $heading-color;
        color: $white-color;
    }
    &.btn-2 {
        background-color: $heading-color;
        color: $white-color;
        &:hover,
        &:focus {
            font-size: 16px;
            background-color: $pri-color;
            color: $white-color;
        }
    }
    &.btn-3 {
        background-color: $white-color;
        color: $pri-color;
        border: 2px solid $pri-color;
        height: 49px;
        line-height: 48px;
        &:hover,
        &:focus {
            font-size: 16px;
            background-color: $pri-color;
            color: $white-color;
        }
    }
}


.btn-close {
    font-size: 24px;
    border: none;
    background-color: transparent;
}


.booking-table td {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: $pri-color;
    
}

.booking-table td.disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
  }


.menu-btn {


    .dropdown-item {
        color: $dark-color !important;
    }

    .dropdown.active{
        
        i {
            color: $pri-color;
        }
        .dropdown-toggle::after{
            color: $pri-color;
        }
    }

    .dropdown-item.active {
        color: $pri-color !important;
        background-color: #fff !important;
    }
}


.custom-service-item {
    .info-container {

        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            display: inline-block;
            margin: 20px 0;
        }

        .price-text {
            color: $pri-color;
            font-size: 28px;
        }

        .order-amount-container {
            .order-amount {
                font-size: 18px;
                padding: 0 8px;
            }
        }
    }
}


.detail-service-btn {
    @media #{$breakpoint-xs} {
        width: 90%;
    }
}

.custom-service-item {
    .image-container {
        @media #{$breakpoint-xl} {
            text-align: left;
            img {
                max-height: 180px;
            }
        }
        @media #{$breakpoint-lg} {
            text-align: left;
            img {
                max-height: 180px;
            }
        }

        text-align: center;
    }

    .info-container {
        .order-amount-container {
            font-size: 20px;       
        }

        @media #{$breakpoint-md} {        
            display: flex;
            flex-direction: column;
            align-items: center;
            .text-container {
                text-align: center;
            }
            .order-amount-container {
                font-size: 24px;
                .order-service-button {
                    padding: 6px 12px;
                    margin: 0 4px;
                }
                input {
                    font-size: 24px !important;
                }
            }
        }

        @media #{$breakpoint-xs} {        
            display: flex;
            flex-direction: column;
            align-items: center;
            .text-container {
                text-align: center;
            }

            .order-amount-container {
                font-size: 24px;
                .order-service-button {
                    padding: 6px 12px;
                    margin: 0 4px;
                }
                input {
                    font-size: 24px !important;
                }
            }
        }
        
    }
}

.total-service-amount-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media #{$breakpoint-xs} {
        flex-direction: column;
        .btn {
            margin-top: 8px;
           width: 100%;
        }
    }

    .total-amount {
        font-size: 24px;
        span {
            color: $pri-color;
        }
    }

    .btn {
        min-width: 200px;
    }
}

.section-order.booking-order {
    .order-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .order-item-room {
        margin-left: 24px;
    }

    @media #{$breakpoint-xs} {
        .order-item {
            flex-direction: column;
            justify-content: center;
        }

        .order-item-room {
            margin-left: 0;
        }

        .order-title {
            margin-bottom: 0;
        }
     }

}

.section-order.profile {
    .order-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .order-title-service {
        min-width: 174px;
        background-color: $pri-color !important;
        border: 1px solid $pri-color !important;
    }

    
    @media #{$breakpoint-xs} {
        .order-item.order-item-room {
            flex-direction: column;
            justify-content: center;
        }
        .order-item-room-info {
            .order-title {
                margin-bottom: 16px !important;
            }
        }

        .order-title-service {
            text-align: center;
            width: 100%;

        }
        
        .service-list {
            margin-top: 12px !important;
        }
    }
}


