<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-6.jpg);">
    <div class="bradcumbContent">
        <h2>Rooms</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Book Now Area Start ##### -->
<div class="book-now-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="book-now-form">
                    {{!-- <form action="#">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select1">Check In</label>
                            <select class="form-control" id="select1">
                                <option>19 June</option>
                                <option>20 June</option>
                                <option>21 June</option>
                                <option>22 June</option>
                                <option>23 June</option>
                                <option>24 June</option>
                                <option>25 June</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select2">Check Out</label>
                            <select class="form-control" id="select2">
                                <option>20 June</option>
                                <option>21 June</option>
                                <option>22 June</option>
                                <option>23 June</option>
                                <option>24 June</option>
                                <option>25 June</option>
                                <option>26 June</option>
                                <option>27 June</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select3">Adults</label>
                            <select class="form-control" id="select3">
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select4">Childrens</label>
                            <select class="form-control" id="select4">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                            </select>
                        </div>

                        <!-- Button -->
                        <button type="submit">Book Now</button>
                    </form> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Book Now Area End ##### -->

<!-- ##### Rooms Area Start ##### -->
<section class="rooms-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading text-center">
                    <div class="line-"></div>
                    <h2>Choose a room</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                </div>
            </div>
        </div>

        <div class="row">

            {{#each allRooms}}
            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/1.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">$ {{this.price}}/night</p>
                    <!-- Rooms Text -->
                    <div class="room-text-description rooms-text">
                        <div class="line"></div>
                        <h4>{{this.name}}</h4>
                        <p>{{this.description}}</p>
                    </div>
                    <!-- Book Room -->
                    <a href="/rooms/{{this._id}}" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>
            {{/each}}
            {{!-- <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/8.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $150/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Double Suite</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>

            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/9.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $100/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Single Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>

            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/15.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $150/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Deluxe Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>

            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/16.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $150/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Double Suite</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>

            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/17.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $100/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Single Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>

            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/18.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $150/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Deluxe Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>

            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/19.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $150/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Double Suite</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div>

            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/20.jpg);"></div>
                    <!-- Price -->
                    <p class="price-from">From $100/night</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>Single Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                    </div>
                    <!-- Book Room -->
                    <a href="#" class="book-room-btn btn palatin-btn">View Details</a>
                </div>
            </div> --}}

            {{!-- <div class="col-12">
                <!-- Pagination -->
                <div class="pagination-area wow fadeInUp" data-wow-delay="400ms">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                            <li class="page-item"><a class="page-link" href="#">02.</a></li>
                            <li class="page-item"><a class="page-link" href="#">03.</a></li>
                        </ul>
                    </nav>
                </div>
            </div> --}}

        </div>
    </div>

{{!-- floating button --}}
    <button class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#input-information-modal">
        <img src="/img/icon/order-icon.png" alt="">
        <span>3</span>
    </button>


    {{!-- modal for confirm booking room --}}
    <div class="modal" id="input-information-modal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Please provide your information</h5>
            <button type="button" class="fa fa-close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{!-- input information form --}}
            <form id="input-information-form" class="row g-3 px-2 input-information-form needs-validation" novalidate>
                <div class="col-12 mt-3">
                    <input type="text" class="form-control" name="first-name" id="first-name" placeholder="First Name" required>
                    <div class="invalid-feedback">
                        First name must not be empty.
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Last Name" required>
                    <div class="invalid-feedback">
                        Last name must not be empty.
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone Number" required>
                    <div class="invalid-feedback">
                        Phone number must not be empty.
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <input type="number" class="form-control" name="identity" id="identity" placeholder="Your ID" required>
                    <div class="invalid-feedback">
                        ID must not be empty.
                    </div>
                </div>
            
            </form>
            <div class="modal-footer">
                <p></p>
                <p style="margin-bottom: 0;">Total Rooms: <span>3</span></p>
                <p>Total Amount: <span>135$</span></p>
                <button form="input-information-form" class="btn palatin-btn" type="submit">Confirm</button>
            </div>
        </div>
    </div>

    {{!-- Delete hidden form --}}
    <form name="delete-course-form" method="POST"></form>
</section>


<script src="./js/formValidation.js"></script>

<script>
    //var btnDeleteCourse = document.getElementById('btn-delete-course')
    //var courseId
    //var deleteForm = document.forms['delete-course-form']

    var inputInformationModal = document.getElementById('input-information-modal')
    inputInformationModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        //courseId = button.getAttribute('data-id')
    })
    // when dialog confirm clicked
    //btnDeleteCourse.onclick = () => {
    //  deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
        //deleteForm.submit()
    //}
</script>
<!-- ##### Rooms Area End ##### -->

