
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <link rel="stylesheet" href="/login/css/style.css" />
  </head>
  <body
    class="img js-fullheight"
    style="background-image: url(/login/images/bg.jpg)"
  >
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Chào mừng đến với Admin Dashboard</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <h3 class="mb-4 text-center">Have an account?</h3>

              <form action="/admin/login" method="POST" class="signin-form">
                <div class="form-group">
                  <input
                    name="username"
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    name="password"
                    id="password-field"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <span
                    style="cursor: pointer; color: black"
                    id="show-password"
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                  >
                    Đăng nhập
                  </button>
                </div>

                {{#if error}}
                  <div class="alert alert-danger">
                    <i
                      class="fas fa-exclamation-triangle"
                      style="color: red;"
                    ></i>
                    {{error}}</div>
                {{/if}}

                <div style="visibility:hidden" class="form-group d-md-flex">
                  <div class="w-50">
                    <label class="checkbox-wrap checkbox-primary">Remember Me
                      <input type="checkbox" checked />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="w-50 text-md-right">
                    <a href="#" style="color: #fff">Forgot Password</a>
                  </div>
                </div>
              </form>
              <p style="visibility:hidden" class="w-100 text-center">&mdash; Or
                Sign In With &mdash;</p>
              <div style="visibility:hidden" class="social d-flex text-center">
                <a href="#" class="px-2 py-2 mr-md-1 rounded"><span
                    class="ion-logo-facebook mr-2"
                  ></span>
                  Facebook</a>
                <a href="#" class="px-2 py-2 ml-md-1 rounded"><span
                    class="ion-logo-twitter mr-2"
                  ></span>
                  Twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/login/js/jquery.min.js"></script>
    <script>
      // document ready
      $(document).ready(function () {
        // show password
        $("#show-password").click(function () {
          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $("#password-field");
          if (input.attr("type") == "password") {
            input.attr("type", "text");
          } else {
            input.attr("type", "password");
          }
        });
      });
    </script>    
    <script src="/login/js/popper.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
  </body>
</html>