<section
  class="vh-100 bg-image"
  style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg'); background-size: cover;"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-4" style="border-radius: 15px;">
            <div class="card-body p-5">

              {{#if msg}}
                <div class="alert alert-danger">
                  {{msg}}
                </div>
              {{/if}}

              <h2 class="text-uppercase text-center mb-3">Thêm loại dịch vụ</h2>

               {{!-- alert error message when filling in missing data --}}
              <div style="display: none;" id="message" class="alert alert-danger" role="alert">                
              </div>

              <form id="add-service-type-form" method="POST" action="/service-type/add-service-type">
                <div class="form-outline mb-2">
                  <label  class="form-label" for="name">Tên loại dịch vụ</label>
                  <input name="name" type="text" id="name" class="form-control form-control-lg" required />                  
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="description">Mô tả</label>
                  <textarea
                    class="form-control"
                    id="description"
                    rows="5"
                    name="description"
                    required
                  ></textarea>
                </div>

                 <div class="form-outline mb-4">
                  <label class="form-label" for="fileImageServiceType">Ảnh</label>
                  <input name="image" type="file" id="fileImageServiceType" class="form-control form-control-lg" required/>
                </div>

                <input type="hidden" name="urlImage" id="url-image"/>
                           
              </form>

              <div class="d-grid gap-2 mt-4">
                  <button
                    onclick="myFunction()"
                    class="btn btn-primary btn-lg btn-block"
                  >Thêm</button>
              </div> 

              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script>
                function myFunction(){
                  (async () =>{                     
                    const name = $('#name').val();
                    const description = $('#description').val();
                    const fileImageServiceType = $('#fileImageServiceType').val();

                    if (name == "") {
                      $('#message').show();
                      $('#message').html('Bạn chưa nhập tên loại dịch vụ!');
                      $('#name').focus();
                      return;
                    }
                    if (description == "") {
                      $('#message').show();
                      $('#message').html('Bạn chưa nhập chi tiết loại dịch vụ!');
                      $('#description').focus();
                      return;
                    }
                                                                                          
                    if (fileImageServiceType == "") {
                      $('#message').show();
                      $('#message').html('Bạn chưa nhập ảnh loại dịch vụ!');
                      $('#fileImageServiceType').focus();
                      return;
                    }
                    
                    const urlImage = await upload("#fileImageServiceType");
                    document.getElementById('url-image').value = urlImage;                
                    document.getElementById('add-service-type-form').submit();  
                  })();                                                               
                
                }
              </script>  

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> upload-image}}