<section
  class="vh-100 bg-image"
  style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg'); background-size: cover;"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-4" style="border-radius: 15px;">
            <div class="card-body p-5">         
                    
              <h2 class="text-uppercase text-center mb-3">Thêm phòng</h2>

              {{#if msg}}
                <div class="alert alert-danger">
                  {{msg}}
                </div>
              {{/if}} 

               {{!-- alert error message when filling in missing data --}}
              <div style="display: none;" id="message" class="alert alert-danger" role="alert">                
              </div>   

              <form  id="add-room-form" action="/room/add-room" method="POST" >

              {{!-- room number --}}
                <div class="form-outline mb-3">
                  <label class="form-label" for="roomNumber">Số phòng</label>
                  <input
                    name="roomNumber"
                    type="text"
                    id="roomNumber"
                    class="form-control"
                    required
                  />
                </div>               

                {{!-- <div class="form-outline mb-3">
                  <label class="form-label" for="bookedDate">Ngày đặt phòng</label>
                  <input
                    name="bookedDate"
                    id="bookedDate"
                    class="form-control"
                    readonly
                    required
                  />
                  <script>
                    $('#bookedDate').datepicker({ uiLibrary: 'bootstrap4' });
                  </script>
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label" for="rentalEndDate">Ngày hết hạn</label>
                  <input
                    name="rentalEndDate"
                    id="rentalEndDate"
                    class="form-control"
                    readonly
                    required
                  />
                  <script>
                    $('#rentalEndDate').datepicker({ uiLibrary: 'bootstrap4' });
                  </script>
                </div> --}}
                   
                
                {{!-- room type --}}
                <div class="form-outline mb-3">
                  <label class="form-label" for="roomType">Loại phòng</label>
                  <select
                    id="roomType"
                    name="roomType"
                    class="form-control"
                  >
                    {{#each roomType}}
                      <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <input type="hidden" name="selectedRoomType" id="selected-room-type">

                <script>
                    const roomType = $('#roomType option:selected').text();
                    $('#selected-room-type').val(roomType);

                    $('#roomType').change(function(){
                      let roomType = $('#roomType option:selected').text();
                      $('#selected-room-type').val(roomType);
                    });
                </script>

                <div class="d-grid gap-2">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                  >Thêm</button>
                </div>

              </form>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> upload-image}}