<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
    <div class="bradcumbContent">
        {{!-- <h2>Search Order</h2> --}}
    </div>
</section>
<section class="rooms-area section-padding-0-100">
    <div class="container card" style="margin-top:50px;padding-top:20px;">
       
        <div class="row">
            <div class="col-lg-3 col-12">
                <img src="/img/food-img/fried-rice.jpg"/>
            </div>
            <div class="col-lg-6 col-12">
                <h2>{{service.name}} </h2>
                <p class="price-text">{{service.price}} $</p>
                <p>{{service.description}}</p>
            </div>
            
        </div>
    </div>
</section>