<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
    <div class="bradcumbContent">
        <h2>Services</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Book Now Area Start ##### -->
{{!-- <div class="book-now-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="book-now-form">
                    <form action="#">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select1">Check In</label>
                            <select class="form-control" id="select1">
                                <option>19 June</option>
                                <option>20 June</option>
                                <option>21 June</option>
                                <option>22 June</option>
                                <option>23 June</option>
                                <option>24 June</option>
                                <option>25 June</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select2">Check Out</label>
                            <select class="form-control" id="select2">
                                <option>20 June</option>
                                <option>21 June</option>
                                <option>22 June</option>
                                <option>23 June</option>
                                <option>24 June</option>
                                <option>25 June</option>
                                <option>26 June</option>
                                <option>27 June</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select3">Adults</label>
                            <select class="form-control" id="select3">
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="select4">Childrens</label>
                            <select class="form-control" id="select4">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                            </select>
                        </div>

                        <!-- Button -->
                        <button type="submit">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- ##### Book Now Area End ##### -->

<!-- ##### Service Intro Area Start ##### -->
<section class="services-intro">
    <div class="container">
        
        <div class="row align-items-center">
            <!-- Service Intro Text -->
            <div class="col-12 col-lg-6">
                <div class="service-intro-text mb-100">
                    <div class="section-heading">
                        {{!-- <div class="line-"></div> --}}
                        {{!-- <h2>Amazing Services</h2> --}}
                    </div>
                    {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p> --}}
                    {{!-- <a href="#" class="btn custom-palatin-btn mt-50">Read More</a> --}}
                </div>
            </div>

            <!-- Services Features -->
            
            {{!-- <div class="col-12 col-lg-6">
                <div class="row mb-100">

                    <!-- Single Cool Facts -->
                    <div class="col-12 col-sm-4">
                        <div class="single-cool-fact">
                            <div class="scf-text">
                                <i class="icon-cocktail-1"></i>
                                <p>Pool Beachbar</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Cool Facts -->
                    <div class="col-12 col-sm-4">
                        <div class="single-cool-fact">
                            <div class="scf-text">
                                <i class="icon-swimming-pool"></i>
                                <p>Infinity Pool</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Cool Facts -->
                    <div class="col-12 col-sm-4">
                        <div class="single-cool-fact">
                            <div class="scf-text">
                                <i class="icon-beach"></i>
                                <p>Sunbeds</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div> --}}
        </div>
    </div>
</section>
<!-- ##### Service Intro Area End ##### -->

<!-- ##### Core Features Start ##### -->
<section class="core-features-area">
    <div class="container">
        {{#each allServices}}
        <div class="row service-item card">
            
            <div class="col-12 col-md-3">
                <img src="/img/bg-img/2.jpg"/>
            </div>
            <div class="col-md-6 col-12 text-container">
                <h2>{{this.serviceName}}</h2>
                <p>{{this.description}}</p>
            </div>
        
            <div class="col-md-3 col-12 price-container d-flex">
                <p class="price-text"><span>{{this.price}}</span>$</p>
                <a href="#" class="book-room-btn btn custom-palatin-btn price-btn ">Details</a>
            </div>
        </div>
        {{/each}}
        <div class="row service-item card">
            
            <div class="col-12 col-md-3">
                <img src="/img/bg-img/2.jpg"/>
            </div>
            <div class="col-md-6 col-12 text-container">
                <h2>Berverage and foods</h2>
                <p>Order your food and drink while staying at our place.</p>
            </div>
        
            <div class="col-md-3 col-12 price-container d-flex">
                <p class="price-text"><span>150</span>$</p>
                <a href="#" class="book-room-btn btn custom-palatin-btn price-btn ">Details</a>
            </div>
        </div>
        <div class="row service-item card">
            
            <div class="col-12 col-md-3">
                <img src="/img/bg-img/2.jpg"/>
            </div>
            <div class="col-md-6 col-12 text-container">
                <h2>Berverage and foods</h2>
                <p>Order your food and drink while staying at our place.</p>
            </div>
        
            <div class="col-md-3 col-12 price-container d-flex">
                <p class="price-text"><span>150</span>$</p>
                <a href="#" class="book-room-btn btn custom-palatin-btn price-btn ">Details</a>
            </div>
        </div>  
        <div class="row justify-content-center">

            <!-- Single Core Feature Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-core-feature mb-100">
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/12.jpg);"></div>
                    <!-- Content -->
                    <div class="feature-content">
                        <i class="icon-sunset"></i>
                        <h3>Wellness</h3>
                        <p>Malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus. faucibus finibus.</p>
                    </div>
                </div>
            </div>

            <!-- Single Core Feature Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-core-feature mb-100">
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/13.jpg);"></div>
                    <!-- Content -->
                    <div class="feature-content">
                        <i class="icon-sunset"></i>
                        <h3>Spa Center</h3>
                        <p>Malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus. faucibus finibus.</p>
                    </div>
                </div>
            </div>

            <!-- Single Core Feature Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-core-feature mb-100">
                    <div class="bg-thumbnail bg-img" style="background-image: url(/img/bg-img/14.jpg);"></div>
                    <!-- Content -->
                    <div class="feature-content">
                        <i class="icon-island"></i>
                        <h3>Lounge Bar</h3>
                        <p>Malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus. faucibus finibus.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Core Features End ##### -->

<!-- ##### Services Area Start ##### -->
<section class="services-area">
    <div class="container">
        <div class="row">

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <i class="icon-trekking"></i>
                    <h4>Bike Rentals</h4>
                    <p>Nulla massa dui, posuere non erat in, eleifend mattis dui. Vivamus luctus luctus rhoncus. Donec sagittis nulla id finibus iaculis. Mauris odio tortor.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="200ms">
                    <i class="icon-boat"></i>
                    <h4>Boat Trips</h4>
                    <p>Nulla massa dui, posuere non erat in, eleifend mattis dui. Vivamus luctus luctus rhoncus. Donec sagittis nulla id finibus iaculis. Mauris odio tortor.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <i class="icon-restaurant"></i>
                    <h4>Restaurants</h4>
                    <p>Nulla massa dui, posuere non erat in, eleifend mattis dui. Vivamus luctus luctus rhoncus. Donec sagittis nulla id finibus iaculis. Mauris odio tortor.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <i class="icon-beach"></i>
                    <h4>Massages</h4>
                    <p>Nulla massa dui, posuere non erat in, eleifend mattis dui. Vivamus luctus luctus rhoncus. Donec sagittis nulla id finibus iaculis. Mauris odio tortor.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-boarding-pass"></i>
                    <h4>Event Tikets</h4>
                    <p>Nulla massa dui, posuere non erat in, eleifend mattis dui. Vivamus luctus luctus rhoncus. Donec sagittis nulla id finibus iaculis. Mauris odio tortor.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <i class="icon-sign"></i>
                    <h4>Hiking</h4>
                    <p>Nulla massa dui, posuere non erat in, eleifend mattis dui. Vivamus luctus luctus rhoncus. Donec sagittis nulla id finibus iaculis. Mauris odio tortor.</p>
                </div>
            </div>

        </div>
    </div>
{{!-- floating button --}}
        
{{!-- floating button --}}
    <button class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#confirm-order-modal">
        <img src="/img/icon/order-icon.png" alt="">
        <span>3</span>
    </button>


    {{!-- modal for confirm booking room --}}
    <div class="modal" id="confirm-order-modal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Your Orders</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{!-- confirm order form --}}
            <form id="confirm-order-form" class="row g-3 px-2 confirm-order-form">
                    <ul class="order-list" style="width: 100%;">
                        <li class="order-item col-12 mt-3 d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="order-title">
                                    Fried Rice
                                    <span class="order-price">24$</span>
                                </h4>
                                <p class="order-description">Shortbread, chocolate turtle cookies, and red velvet.</p>                            
                            </div>
                            <div class="order-amount">
                                <button class="btn btn-decrease">-</button>
                                <span style="width: 100%;">2</span> 
                                <button class="btn btn-increase">+</button>
                            </div>
                            
                        </li>
                    </ul>
            </form>
            <div class="modal-footer pt-0">
                <p></p>
                <p style="margin-bottom: 0;">Total Amount: <span>4</span></p>
                <p>Total Price: <span>96$</span></p>
                <button form="confirm-order-form" class="btn palatin-btn" type="submit">Confirm</button>
                
            </div>
        </div>
    </div>

    {{!-- Delete hidden form --}}
    <form name="delete-course-form" method="POST"></form>
</section>


<script>

    const confirmOrderModal = document.getElementById('confirm-order-modal')

    //var btnDeleteCourse = document.getElementById('btn-delete-course')
    //var courseId
    //var deleteForm = document.forms['delete-course-form']

    confirmOrderModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        //courseId = button.getAttribute('data-id')
    })
    // when dialog confirm clicked
    //btnDeleteCourse.onclick = () => {
    //  deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
        //deleteForm.submit()
    //}
</script>