<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
    <div class="bradcumbContent">
        {{!-- <h2>Search Order</h2> --}}
    </div>
</section>
<section class="rooms-area section-padding-0-100">
    <div class="container card" style="margin-top:50px;padding-top:20px;">
       
        <div class="row custom-service-item">
            <div class="col-lg-3 col-12 image-container">
                <img src="/img/food-img/fried-rice.jpg"/>
            </div>
            <div class="col-lg-9 col-12 info-container">
                <div class="text-container">
                    <h2>{{service.name}} </h2> 
                    <span class="price-text">{{service.price}} $</span>
                    <p>{{service.description}}</p>
                </div>
                <div class="order-amount-container">
                    <input type="number" class="order-amount" min="0">
                </div>
            </div>
            
        </div>
    </div>
</section>