<div class="not-found-container">
    <h1 style="font-size: 120px; color: #cb8670;">Oops!</h1>
    <h2>We can't seem to find the page</h2>
    <h2>you're looking for.</h2>
    <a href="/" class="btn palatin-btn">Back to Home</a>
</div>