<div class="error-container">
    <h1>500 Server error!</h1>
    <h3>Oops, something went wrong.</h3>
    <h3>Try to refresh this page or feel free to contact us at <a style="font-size: 1.75rem; font-weight: 400; color: #cb8670;" href="mailto:example@gmail.com">example@gmail.com</a> if the problem persists.</h3>
</div>