<div class="d-flex justify-content-center">
    <div class="card w-50" style="min-width: 320px; margin: 180px 0 40px;">
        <form id="registerFormValidation" class="needs-validation" action="" method="POST" novalidate>
            <div class="card-header mb-3">
                <h4 class="card-title">
                    Change Password
                </h4>
            </div>
            <div class="card-content px-3">
                <div class="form-group">
                    <label class="control-label">
                        Current Password <star class="text-danger">*</star>
                    </label>
                    <input class="form-control" name="password" type="password" required>
                    <div class="invalid-feedback">
                        Current Password must not be empty.
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">New Password <star class="text-danger">*</star></label>
                    <input class="form-control" name="newPassword" type="newPassword" required>
                    <div class="invalid-feedback">
                        New Password must not be empty.
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm New Password <star class="text-danger">*</star></label>
                    <input class="form-control" name="password_confirmation" type="password" required>
                    <div class="invalid-feedback">
                        Confirm New Password must not be empty.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn custom-palatin-btn pull-right m-3">Save Changes</button>
        </form>
    </div>
</div>
<script src="/js/formValidation.js"></script>