<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
   
    <div class="signin-card text-center" style="max-width: 95%; width:380px; min-height: 500px;">
        <div>
            <h3 style="color: white;font-weight:bold">Sign in to your account </h3>
            <div style="margin-top: 32px;">
                <a href="/"><img src="/img/core-img/logo.png"/></a>
                
            </div>
        </div>

        <form id="sign-in-form" class="needs-validation"  method="POST" action="/account/sign-in?retUrl={{retUrl}}" novalidate>
            <div class="mt-3">
                <input type="tel" class="form-control" id="username" name="username" placeholder="Phone Number" required>
                <div class="invalid-feedback">
                        Phone number must not be empty.
                </div>
            </div>

            <div class="mt-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <div class="invalid-feedback">
                        Password must not be empty.
                </div>
            </div>
            {{#if error}}
            <div class="mt-3">
                <p class="text-danger">{{error}}</p>
            </div>
            {{/if}}
            <button class="btn mt-3" >Sign in</button>
        </form>
    </div>
</div>
<script src="/js/formValidation.js"></script>
        
