<div
    class=""
    style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-image: url(/img/bg-img/4.png);"
>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="signin-card text-center" style="max-width: 95%; width:380px; min-height: 450px;">
            <div>
                <h3 style="color: white;font-weight:bold">Password recovery </h3>
                <div style="margin-top: 32px;">
                    <a href="/"><img src="/img/core-img/logo.png"/></a>
                </div>
                <p class="mt-2">Enter your OTP</p>
                {{#if message}}
                    <div class="alert alert-info" role="alert">
                        {{message}}
                    </div>
                {{/if}}
            </div>
            <form id="forgot-password-form" method="POST" action="/account/verification">
                <input type="hidden" name="phone" value="{{phone}}">
                <input id="origin-phone" type="hidden" name="origin_phone" value="{{origin}}">
                <div class="mt-3 row">
                    <input autocomplete="true" type="number" class="form-control" name="code" placeholder="OTP code" required>                      
                    
                </div>
                {{#if error}}
                <div class="mt-3">
                    <p class="text-danger">{{error}}</p>
                </div>
                {{/if}}
                <button type="submit" id="check" class="btn mt-3">Check</button>

                <div class="clearfix">
                    <a class="float-right text-info" href="/account/sign-in">Or sign in now</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/formValidation.js"></script>
        
