<div class="p-4">
    <h2>Confirm your Order</h2>
    <form id="input-information-form" class="row g-3 px-2 input-information-form needs-validation" novalidate>
        <div class="col-12 mt-3">
            <input type="text" class="form-control" name="first-name" id="first-name" placeholder="First Name" required>
            <div class="invalid-feedback">
                First name must not be empty.
            </div>
        </div>

        <div class="col-12 mt-3">
            <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Last Name" required>
            <div class="invalid-feedback">
                Last name must not be empty.
            </div>
        </div>

        <div class="col-12 mt-3">
            <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone Number" required>
            <div class="invalid-feedback">
                Phone number must not be empty.
            </div>
        </div>

        <div class="col-12 mt-3">
            <input type="number" class="form-control" name="identity" id="identity" placeholder="Your ID" required>
            <div class="invalid-feedback">
                ID must not be empty.
            </div>
        </div>
        <div class="confirm-container col-12 mt-3">
            <button form="input-information-form" class="btn palatin-btn float-end" type="submit">Confirm</button>
        </div>
    </form>
    <ul class="order-list" style="width: 100%;">
        <li class="order-item col-12 mt-3 d-flex justify-content-between align-items-center">
            <span class="order-amount">Number of rooms: 2</span>
            <div>
                <h4 class="order-title">Fried Rice</h4>
                <p class="order-description">Shortbread, chocolate turtle cookies, and red velvet.</p>                            
            </div>
            <p class="order-price">24$</p>
        </li>
        <li class="order-item col-12 mt-3 d-flex justify-content-between align-items-center">
            <span class="order-amount">Number of rooms: 2</span>
            <div>
                <h4 class="order-title">Fried Rice</h4>
                <p class="order-description">Shortbread, chocolate turtle cookies, and red velvet.</p>                            
            </div>
            <p class="order-price">24$</p>
        </li>
        <li class="order-item col-12 mt-3 d-flex justify-content-between align-items-center">
            <span class="order-amount">Number of rooms: 2</span>
            <div>
                <h4 class="order-title">Fried Rice</h4>
                <p class="order-description">Shortbread, chocolate turtle cookies, and red velvet.</p>                            
            </div>
            <p class="order-price">24$</p>
        </li>
        <li class="order-item col-12 mt-3 d-flex justify-content-between align-items-center">
            <span class="order-amount">Number of rooms: 2</span>
            <div>
                <h4 class="order-title">Fried Rice</h4>
                <p class="order-description">Shortbread, chocolate turtle cookies, and red velvet.</p>                            
            </div>
            <p class="order-price">24$</p>
        </li>
    </ul>
</div>

<script src="/js/formValidation.js"></script>