<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
    <div class="bradcumbContent">
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<div class="my-5 text-center px-2">
    <img class="mb-2" src="/img/icon/success.svg" alt="" style="width: 120px;">
    <h2>Thank you for your order</h2>
    <p>{{message}}</p>
    <a href="/" class="btn palatin-btn">Back to Home</a>
</div>