 <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-6.jpg);">
        <div class="bradcumbContent">
            
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Rooms Area Start ##### -->
    <section class="rooms-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        {{!-- <h2>Choose a room</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p> --}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 bg-thumbnail bg-img">
                    <div class="bg-thumbnail bg-img">
                        <img src="/img/bg-img/1.jpg"/>
                    </div>
                </div>
                <div class="col-8">
                    <h1 class="room-title">Room Name</h1>
                    <p class="room-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. </p>
                    <p class="room-info">People: 2</p>
                    <p class="room-info">Areas: 100 m<sup>2</sup></p>
                    <p class="room-info">Beds: 2</p>
                    <a href="#" class="book-room-btn btn palatin-btn">Book Room</a>

                </div>
                
            </div>
           
        </div>
    </section>
    <!-- ##### Rooms Area End ##### -->