 <button type="button" class="icon-button mx-4 mt-4">
    {{!-- <span class="material-icons">notifications</span> --}}
    <i class="fas fa-bell"></i>
    <span style="font-size: 12px;" class="icon-button__badge">2</span>
  </button>

  <div class="dropdown mt-5">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>