<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
    <div class="bradcumbContent">
        <h2>Help</h2>
    </div>
</section>
<div class="py-5">
    <section class="core-features-area">
        <div class="container">
            <h1 data-toggle="collapse" href="#roomCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
            
               How to book your room?
            
            
            </h1>
            <div class="collapse" id="roomCollapse">
                <div class="card card-body">
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 1. </span>Choose <strong>Rooms</strong> on navigation bar</p>
                        <img src="/img/instruction-img/room/1.jpg">
                    </div>
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 2. </span>Choose your room type you want to book and click on <strong>View Details</strong>.</p>
                        <img src="/img/instruction-img/room/2.jpg">
                    </div>
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 3. </span>Choose your check in and check out date and click on <strong>Find</strong> to show free rooms for choices.</p>
                        <p class="instruction-text">P/s: We do not support for booking 1 room for multiple times.</p>
                        <img src="/img/instruction-img/room/3.jpg">
                    </div>
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 4. </span>Dark cells are busy rooms so can not choose, white cells are rooms you can choose and color cells are rooms you choosen. Input number of every room you pick and click on <strong>Book Room</strong> to book.
                        </p>
                        <img src="/img/instruction-img/room/4.jpg">
                    </div>
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 5. </span>The bell is cart contain rooms you have just booked. Choose another room type and continue or you can continue to next step.</p>
                        <img src="/img/instruction-img/room/5.jpg">
                    </div>
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 6. </span>Click on the bell to check your booked rooms. You can Clear all to clear all rooms in cart and book new rooms. If your cart is ok, you can click on <strong>Book Now</strong> and continue to next step.</p>
                        <img src="/img/instruction-img/room/6.jpg">
                    </div>
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 7. </span>Provide your information and <strong>Confirm</strong> to book your room.</p>
                        <img src="/img/instruction-img/room/7.jpg">
                    </div>
                    <div class="text-container">
                        <p class="instruction-text"><span class="price-text">Step 8. </span>If your order is successful, you can check your order at <strong><a href="/search-order">Search Order</a></strong>.</p>
                        <img src="/img/instruction-img/room/8.jpg">
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>
