<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
    <div class="bradcumbContent">
        <h2>Help & Support</h2>
    </div>
</section>
<div class="py-5">
    <section class="core-features-area help-section">
        <div class="container">
            <h1 class="mb-4">
               How to book your room?
            </h1>
            <div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 1</span></p>
                    <ul class="ml-4">
                        <li style="list-style: disc;">
                            <p class="instruction-text"> Select <span class="strong">Rooms</span> on the navigation bar.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/1.jpg">
                </div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 2</span></p>
                    <ul class="ml-4">
                        <li style="list-style: disc;">
                            <p class="instruction-text">Pick your favorite room and select <span class="strong">View Details</span>.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/2.jpg">
                </div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 3</span></p>
                    <ul class="ml-4">
                        <li style="list-style: disc;">
                            <p class="instruction-text">Pick your <span class="strong">Check in</span> and <span class="strong">Check out</span> date.</p>
                        </li>
                        <li style="list-style: disc;">
                            <p class="instruction-text">Click on the <span class="strong">Find</span> button.</p>
                        </li>
                        <li class="ml-3" style="list-style: circle;">
                            <p class="instruction-text">P/s: We do not support booking a room multiple times.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/3.jpg">
                </div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 4</span></p>
                    <ul class="ml-4">
                         <li style="list-style: disc;">
                            <p class="instruction-text">Check the room status:</p>
                        </li>
                        <li class="ml-3" style="list-style: circle;">
                            <p class="instruction-text">White cell means the room is <span class="strong">available</span>.</p>
                        </li>
                         <li class="ml-3" style="list-style: circle;">
                            <p class="instruction-text">Grey cell means the room is <span class="strong">not available</span>.</p>
                        </li>
                        <li style="list-style: disc;">
                            <p class="instruction-text">Click on the white cell to pick the room.</p>
                        </li>
                        <li style="list-style: disc;">
                            <p class="instruction-text">Type in the number of people for each of the room you picked.</p>
                        </li>
                        <li style="list-style: disc;">
                            <p class="instruction-text">Click on the <span class="strong">Book Room</span> button.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/4.jpg">
                </div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 5</span></p>
                    <ul class="ml-4">
                        <li style="list-style: disc;">
                            <p class="instruction-text">The bell icon in the right corner shows the number of rooms you picked.</p>
                        </li>
                        <li style="list-style: disc;">
                            <p class="instruction-text">You can either:</p>
                        </li>
                        <li class="ml-3" style="list-style: circle;">
                            <p class="instruction-text">Book another room.</p>
                        </li>
                         <li class="ml-3" style="list-style: circle;">
                            <p class="instruction-text">Click on the bell icon to go to the next step.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/5.jpg">
                </div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 6</span></p>
                    <ul class="ml-4">
                        <li style="list-style: disc;">
                            <p class="instruction-text">Click on the <span class="strong">Book Now</span> button to continue your booking.</p>
                        </li>
                        <li class="ml-3" style="list-style: circle;">
                            <p class="instruction-text">If you want to clear all your booking, click on the <span class="strong">Clear All</span> button.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/6.jpg">
                </div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 7</span></p>
                    <ul class="ml-4">
                        <li style="list-style: disc;">
                            <p class="instruction-text">Provide your information and click on the <span class="strong">Confirm</span> button to complete your order.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/7.jpg">
                </div>
                <div class="text-container card card-body shadow mb-5">
                    <p class="instruction-text"><span class="price-text">Step 8</span></p>
                    <ul class="ml-4">
                         <li style="list-style: disc;">
                            <p class="instruction-text">Check in at the hotel to activate your account.</p>
                        </li>
                        <li class="ml-3" style="list-style: circle;">
                            <p class="instruction-text">You can search and check your order at <a style="color: #cb8670; font-size: 16px;" href="/search-booked-rooms">Search Order</a>.</p>
                        </li>
                    </ul>
                    <img src="/img/instruction-img/room/8.jpg">
                </div>
            </div>
            
        </div>
    </section>
</div>
